* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0%;
  background-color: #000;
}






/* Header.css */
@media (max-width: 768px) {
  /* Aseguramos que el contenedor de los links siempre esté centrado */
  .link-container {
    display: flex;
    justify-content: center;
    position: relative;
  }

  .hover-link {
    font-size: 20px;
    padding: 12px 20px;
    color: #fff;
    background-color: #004c6d;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .hover-link:hover {
    background-color: #007fa3;
  }

  /* Contenedor de los links, siempre debe ocupar toda la pantalla */
  .hover-content {
    display: none; /* Inicialmente oculto */
    position: fixed; /* Ocupa toda la pantalla */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8); /* Fondo negro semitransparente */
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .hover-content.active {
    display: flex; /* Se muestra cuando está activo */
  }

  /* Estilos de la lista de links centrados */
  .hover-content ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  .hover-content ul li {
    font-size: 18px;
    color: #fff;
  }

  .hover-content a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
  }

  .hover-content a:hover {
    color: #007fa3;
  }

  /* Botón de cierre */
  .close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #fff;
    font-size: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color 0.3s ease;
  }

  .close-btn:hover {
    color: #007fa3;
  }
}







/* Dispositivos pequeños (móviles verticales, hasta 480px) */
@media (max-width: 480px) {
  .container-all {
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 60px;
  }

  .content-container ul {
    grid-template-columns: 1fr; /* Una sola columna */
  }


  .tab-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .nav-buttons button {
    flex: 1 1 calc(40% - 20px);
    min-width: 100px;
    max-width: 150px;
  }
}


/* 
.nav-buttons {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-right: auto;
  padding-top: 20px;
}
*/