* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: sans-serif;
  margin: 0;
  padding: 0%;
  background-color: #000;
}














/* Dispositivos pequeños (móviles verticales, hasta 480px) */
@media (max-width: 480px) {
  .container-all {
    width: 100%;
    padding: 10px;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 20px;
    margin-top: 60px;
  }

  .content-container ul {
    grid-template-columns: 1fr; /* Una sola columna */
  }


  .tab-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  .nav-buttons button {
    flex: 1 1 calc(40% - 20px);
    min-width: 100px;
    max-width: 150px;
  }
}


/* 
.nav-buttons {
  margin-top: 80px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  margin-right: auto;
  padding-top: 20px;
}
*/