.carousel {
  top: 30px;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: auto;
  overflow: hidden;
}

.carousel-images {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-images img {
  max-width: 100%;
  width: 100%;
  height: auto;
  display: block;
}

.carousel button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2em;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

@media (max-width: 411px) {
  .carousel {
    top: 20px; /* Ajustar el margen superior */
    max-width: 100%; /* Permitir que ocupe todo el ancho disponible */
    padding: 0 10px; /* Añadir un poco de espacio interno */
  }

  .carousel-images img {
    height: auto; /* Asegurar que las imágenes mantengan proporciones */
    max-width: 100%; /* Escalar las imágenes adecuadamente */
  }

  .carousel button {
    font-size: 1.5em; /* Reducir el tamaño de los botones */
    padding: 8px; /* Reducir el padding interno */
  }
}
