/* Asegúrate de que el body y html ocupen todo el espacio */


.pie-pagina {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  flex-wrap: wrap;
  background-color: #0397AB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px; /* Ajusta el padding inicial */
  width: 100%;
  box-sizing: border-box;
  margin-top: auto;
}

.logo-pie-pagina {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-left: 30px;
}

.caja-red-social {
  /*background-color: #005A82;*/
  padding: 20px;
  width: 40px;
  margin-right: 50px;
  border-radius: 15px;
}

.red-social {
  text-align: center;
  font-size: 1.4rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.red-social:hover {
  transform: scale(1.3);
  color: #F0E6D2;
}

.copyright {
  position: relative;
  width: 100%;
  background-color: #0A1428;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 0.875rem;
}

.copyright:hover {
  color: #F0E6D2;
}

/* Media query para pantallas pequeñas */
@media (max-width: 768px) {
  .pie-pagina {
    padding: 20px; /* Ajusta el padding horizontal */
    flex-direction: column; /* Cambia la disposición a columna */
    align-items: center;
    text-align: center;
  }

  .logo-pie-pagina {
    margin: 0 0 10px 0;
  }

  .caja-red-social {
    padding: 20px;
    margin: 0 auto;
    justify-content: center;
  }

  .red-social {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 1rem;
    margin: 0 auto;
  }

  .copyright {
    font-size: 0.75rem;
    padding: 8px 0;
  }
}


@media (max-width: 411px) {
  .pie-pagina {
    display: flex;
    flex-direction: column; /* Apilar los elementos verticalmente */
    align-items: center; /* Centrar los elementos */
    justify-content: center; /* Alinear los elementos verticalmente */
    width: 100%; /* Forzar que ocupe el ancho completo de la pantalla */
    max-width: 100%;
    padding: 20px 10px; /* Ajustar el padding */
    margin: 0; /* Eliminar márgenes */
    box-sizing: border-box; /* Incluir el padding dentro del ancho */
    text-align: center; /* Centrar texto */
  }

  .logo-pie-pagina {
    margin: 0 0 15px 0; /* Añadir margen inferior */
  }

  .caja-red-social {
    padding: 10px; /* Reducir el padding */
    width: 35px; /* Ajustar tamaño */
    margin: 5px; /* Añadir espaciado uniforme */
  }

  .copyright {
    font-size: 0.75rem; /* Reducir tamaño de fuente */
    padding: 10px; /* Ajustar padding */
    width: 100%; /* Forzar el ancho completo */
  }
}
