.pie-pagina {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    flex-wrap: wrap; /* Evita desbordamiento */
    background-color: #0397AB;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 300px; /* Espaciado interno consistente */
    width: 100%; /* Ancho completo */
    box-sizing: border-box; /* Incluye el padding en el cálculo del ancho */
  }
  
  .logo-pie-pagina {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 30px;
  }
  
  .caja-red-social{
    background-color: #005A82;
    padding: 20px;
    width: 40px;
    margin-right: 50px;
    border-radius: 15px;
  }
  .red-social {
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .red-social:hover{
    transform: scale(1.5);
    color: #F0E6D2;
  }
  
  .copyright {
    position: relative;
    width: 100%;
    background-color: #0A1428;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
  }

  .copyright:hover{
    color: #F0E6D2;
  }
  

@media (max-width: 768px) {
  .pie-pagina {
    padding: 20px 20px; /* Reducir el padding */
    flex-direction: column; /* Cambiar la disposición a columna */
    align-items: center; /* Centrar los elementos */
    text-align: center; /* Alinear el texto al centro */
  }

  .logo-pie-pagina {
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-bottom: 10px; /* Añadir espacio abajo */
  }

  .caja-red-social {
    margin-right: 0; /* Eliminar el margen derecho */
    justify-content: center; /* Centrar los íconos de redes sociales */
    margin-bottom: 10px; /* Añadir espacio abajo */
  }

  .red-social {
    font-size: 16px; /* Reducir el tamaño de la fuente */
    margin: 0 10px; /* Añadir espacio entre los íconos */
  }

  .copyright {
    font-size: 12px; /* Reducir el tamaño de la fuente */
    padding: 8px 0; /* Reducir el padding */
  }
}

@media (max-width: 411px) {
  .pie-pagina {
    display: flex;
    flex-direction: column; /* Cambiar a disposición vertical */
    padding: 20px; /* Padding reducido */
    text-align: center; /* Centrar contenido en dispositivos pequeños */
    width: 100vw; /* Ocupa el ancho completo de la pantalla */
    box-sizing: border-box; /* Asegura que padding no cause overflow */
    margin: 0; /* Elimina márgenes externos */
  }

  .logo-pie-pagina {
    margin-left: 0; /* Quitar margen izquierdo */
    margin-bottom: 20px; /* Espacio inferior para separación */
  }

  .caja-red-social {
    margin: 10px auto; /* Centrar cajas de redes sociales */
    width: 50px; /* Hacerlas más grandes para pantallas táctiles */
    padding: 15px; /* Ajustar padding interno */
  }

  .red-social {
    font-size: 24px; /* Incrementar tamaño para mejor visibilidad */
  }

  .copyright {
    font-size: 12px; /* Reducir el tamaño de la fuente */
    padding: 10px; /* Espaciado interno más pequeño */
    margin: 0; /* Elimina márgenes externos */
  }
}
