.link-container {
  position: relative;
  display: grid;
  margin-right: 100px;
}

.hover-link {
  margin-right: 0 auto;
  color: #fff;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.5625rem;
}

.hover-link:hover {
  color: #F0E6D2;
}

.hover-link.hidden {
  display: none;
}

.hover-content.desktop {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #005a82;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 10;
  padding: 0.4rem;
  border-radius: 8px;
}

.hover-content {
  display: none;
  text-align: center;
  position: absolute;
  top: calc(100% + 5px); /* Ajuste del espacio para el triángulo */
  left: 50%;
  background-color: #0397ab;
  padding: 20px;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
  width: 100%; /* Hace que el contenido ocupe todo el ancho del contenedor */
  min-width: 130px;
  max-width: 400px;
  width: 200px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(20px) translateX(-50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.hover-content.active {
  display: flex;
  flex-direction: column;
}

/* Triángulo */
.hover-content::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 0 10px 10px 10px; /* Solo el borde inferior es visible */
  border-style: solid;
  border-color: transparent transparent #f0e6d2 transparent;
  width: 0;
  height: 0;
}

.link-container:hover .hover-content,
.hover-content:hover {
  opacity: 1;
  pointer-events: auto;
  transform: translateX(-50%) translateY(0);
}

.hover-content a {
  display: block; /* Hace que los enlaces se apilen verticalmente */
  color: #fff;
  transition: transform 0.3s ease, font-size 0.3s ease;
  white-space: nowrap;
  font-size: 1.25rem;
  margin-bottom: 10px; /* Añade espacio entre los enlaces */
}

.hover-content a:hover {
  color: #f0e6d2;
  font-size: 1.5rem;
}

.hover-content a button {
  font-size: 1.25rem;
}

.hover-content a button {
  font-size: 1.25rem;
}

@media (max-width: 768px) {
  .hover-content a {
    color: #fff;
    text-decoration: none;
    font-size: 2.2rem;
  }

  .hover-content a button{
    font-size: 2.2rem;
  }
}

@media (max-width: 411px) {
  .hover-content a {
    color: #fff;
    text-decoration: none;
    font-size: 2rem;
  }

  .hover-content a button{
    font-size: 2rem;
  }
}