

.x-followCard {
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .8rem;
    justify-content: space-between;
    margin-top: 15px;
    background-color: rgb(0, 0, 0, 1.00);
}

.x-followCard-header {
    display: flex;
    align-items: center;
    gap: 4px;
}

.x-followCard-info {
    display: flex;
    flex-direction: column;
}

.x-followCard-infoUserName {
    opacity: .6;
}

.x-followCard-avatar {
    width: 48px;
    height: 48px;
    border-radius: 1000px;
    cursor: pointer;
}

.x-followCard-avatar:hover {
    opacity: 0.9;
}

.x-followCard-button {
    margin-left: 16px;
    border: 0;
    border-radius: 999px;
    padding: 6px 16px;
    font-weight: bold;
    cursor: pointer;
    background-color: rgb(239, 243, 244);
    border: 1px solid #000;
}
/* Color original del hover del botón
.x-followCard-button:hover{
    background-color: rgb(215, 219, 220);    
}*/
.x-followCard-button.is-following {
    border: 1px solid red;
}


.x-followCard-button:hover{
    background-color: #09f;
        
}

.x-followCard-button.is-following:hover {
    background: red;
}

.x-followCard-inforUserName {
    cursor: pointer;
}

.x-followCard-inforUserName-head {
    cursor: pointer;
}

.x-followCard-inforUserName-head:hover{
    text-decoration:underline;
}
